<html>
  <head>
    <title>Home | Shab Bahmanyar</title>
  </head>

  <body>
    
    <div class="sidebar">
      <%= link_to "Home", root_path, class:"active" %>
      <%= link_to "Contact", contact_path%>
      <%= link_to "About Me", about_path%>
    </div>
    
    <div class="content">
      <h1>Hi there,</h1>
      <p>
        I'm Shabnam Bahmanyar! <br>
        I am a computer science student at UCLA, graduating in March of 2020. <br>
        Here you can find out about the projects I've done and my hobbies. <br>
        You can also contact me by clicking on the contact link!
      </p>
      
      <p class="footer">This website was built in Ruby on Rails and deployed through AWS Elastic Beanstalk.</p>
    </div>
  </body>
</html>